
# Version
APP_VERSION=0.0.1
STAGE=dev

# Database
DB_HOST=
DB_PORT=5432
DB_NAME=
DB_USERNAME=
DB_PASSWORD=

# Host
PORT=3001
HOST_API=http://localhost:3001/api

# JWT
JWT_SECRET=clavesecreta


# Mail
MAIL_HOST=smtp.gmail.com
MAIL_USER=test@gmail.com
MAIL_PASSWORD=
MAIL_FROM=