
# Version
APP_VERSION=0.0.1
STAGE=dev

# Database
DB_HOST=ep-still-mountain-a4g2kq4f-pooler.us-east-1.aws.neon.tech
DB_PORT=5432
DB_NAME=neondb
DB_USERNAME=neondb_owner
DB_PASSWORD=npg_6mVzY0hBIcyx

# Host
PORT=3001
HOST_API=http://localhost:3001/api

# JWT
JWT_SECRET=clavesecreta


# Mail
MAIL_HOST=smtp.gmail.com
MAIL_USER=test@gmail.com
MAIL_PASSWORD=
MAIL_FROM=


